.Container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
    margin: 0 auto;
}

.item {
  flex: 1 0 20%;
  margin: 5px;
  img {
    max-width: 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .Container {
    max-width: 80%;

  }
  .item {
    flex: 1 0 30%;
    margin: 5px;
  }  
    
}