.Navigation {
    height: 56px;
    position: relative;
    top: 0;
    left: 0;
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
    border: 2px solid #000;
    margin: 5px;

    nav {
        width: 100%;
        text-align: center;
    }

    h2 {
        font-weight: bold;
        color: #fff;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
    .Navigation {
        border: none;
        margin: 0; 
    }

}